<li class="nav-item dropdown hovered">

  <!-- Toggle -->
  <a
    class="nav-link dropdown-toggle"
    data-bs-toggle="dropdown"
    href="#"
    aria-controls="CountryList"
    aria-expanded="false">
    {{- localization.country.currency.iso_code }}
    {{ localization.country.currency.symbol }} | {{ localization.country.name -}}
  </a>

  <!-- Menu -->
  <div id="country-dropdown-menu" class="dropdown-menu min-w-0">
    {%- for country in localization.available_countries -%}
      <a
        class="dropdown-item disclosure__link"
        href="#"
        {% if country.iso_code == localization.country.iso_code %}
        aria-current="true"
        {% endif %}
        data-value="{{ country.iso_code }}">{{ country.currency.symbol }} | {{ country.name }}</a>
    {%- endfor -%}

  </div>
</li>
<input
  type="hidden"
  name="country_code"
  value="{{ localization.country.iso_code }}">