<div class="offcanvas offcanvas-end" id="modalSidebar" tabindex="-1" style="visibility: hidden;" aria-hidden="true">
    
      <!-- Close -->
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
        <i class="fe fe-x" aria-hidden="true"></i>
      </button>
    
      <!-- Body -->
      <div class="offcanvas-body px-10 my-auto">
        <!-- Nav -->
        <ul class="nav nav-vertical nav-unstyled fs-2" id="sidebarNav">
          {%- for link in section.settings.menu.links -%}
            <li class="nav-item">
            {%- if link.links != blank -%}
                <a
                class="nav-link dropdown-toggle" 
                data-bs-toggle="collapse"
                  href="#sidebar{{ link.title | escape }}">{{- link.title | escape -}}  
                </a>

                  <div class="collapse" id="sidebar{{ link.title | escape }}" data-bs-parent="#sidebarNav">
                   
                        {%- for childlink in link.links -%}
                          {%- if childlink.links != blank -%}
                          <div class="row">
                            <div class="col-12 py-3">
                              <a class="mb-5 fw-bold fs-lg" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                              <ul class="list-styled fs-lg">
                              {% for grandchildlink in childlink.links %}
                                    <li class="list-styled-item">
                                      <a class="list-styled-link" href="{{ grandchildlink.url | escape }}">{{ grandchildlink.title | escape }}</a>
                                    </li>
                              {% endfor %}
                              </ul>
                              </div>
                    
                              </div>
                          {%- else -%}
                          <div class="row">
                            <div class="col-12 py-3">
                              <a href="{{ childlink.url }}" class="mb-5 fw-bold fs-lg">{{ childlink.title | escape }}</a>
                            </div>
                          </div>
                        {%- endif -%}  
                      {%- endfor -%}

            {%- else -%}
                <a class="nav-link" href="{{ link.url }}">{{- link.title | escape -}}</a>
            {%- endif -%}
          {%- endfor -%}
          </li>
        </ul>
    
      </div>
    
      <!-- Body -->
      <div class="moda-body px-10 py-9">
    
      <div class="fs-xxs">
        <ul class="nav nav-vertical nav-unstyled nav-divided d-flex d-lg-none">

        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
        <localization-form>
          {%- form 'localization' -%}
            <div>
              {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {% endif %}
  
        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
        <localization-form>
          {%- form 'localization' -%}
            <div>
              {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {% endif %}
  
        </ul>
      </div>
        <!-- Social links -->
        {% if section.settings.allow_social_links %}
          <ul class="list-inline">
            {% if settings.social_facebook_link != blank %}
              <li class="list-inline-item">
                <a class="text-gray-350" href="{{ settings.social_facebook_link }}">
                  {% render 'facebook-icon' %}
                </a>
              </li>
            {% endif %}

            {% if settings.social_youtube_link != blank %}
              <li class="list-inline-item">
                <a class="text-gray-350" href="{{ settings.social_youtube_link }}">
                  {% render 'youtube-icon' %}
                </a>
              </li>
            {% endif %}

            
            {% if settings.social_twitter_link != blank %}
              <li class="list-inline-item">
                <a class="text-gray-350" href="{{ settings.social_twitter_link }}">
                  {% render 'twitter-icon' %}
                </a>
              </li>
            {% endif %}
          

            {% if settings.social_instagram_link != blank %}
              <li class="list-inline-item">
                <a class="text-gray-350" href="{{ settings.social_instagram_link }}">
                  {% render 'instagram-icon' %}
                </a>
              </li>
            {% endif %}
          

            {% if settings.social_medium_link != blank %}
              <li class="list-inline-item">
                <a class="text-gray-350" href="{{ settings.social_medium_link }}">
                  {% render 'medium-icon' %}
                </a>
              </li>
            {% endif %}
          

          </ul>
        {% endif %}

    
        <!-- Footer -->
        <div class="fs-xxs text-gray-350">
          © 2019 All rights reserved. {{ shop.name }}.
        </div>
    
      </div>
    
</div>
    
<nav class="navbar navbar-expand navbar-light">
  <div class="container">
    {%- if section.settings.logo != blank -%}
      {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
      <img
        class="navbar-brand img-fluid img-thumbnail d-none d-lg-block"
        src="{{ section.settings.logo | image_url }}"
        width="100"
        height="100"
        alt="{{ logo_alt }}"
        loading="lazy">

      <!-- Mobile --> 
      <img
        class="img-fluid img-thumbnail d-lg-none navbar-brand"
        src="{{ section.settings.logo | image_url }}"
        width="60"
        height="60"
        alt="{{ logo_alt }}"
        loading="lazy">
    {% else %}
      <!-- Brand -->
      <a class="navbar-brand " href="{{ routes.root_url }}">
        {{ shop.name }}
      </a>
    {% endif %}

    <div class="d-none d-lg-block">
      <ul class="navbar-nav">
        {% for block in section.blocks %}
          {% if block.type == 'link' %}
            <li class="nav-item">
              <a class="nav-link text-uppercase active" href="{{ block.settings.link_url }}">{{ block.settings.text_display }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

          <!-- Nav -->
          <ul class="navbar-nav d-none d-md-flex ms-auto">
            <ul class="navbar-nav nav-divided">


            {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
              <localization-form>
                {%- form 'localization' -%}
                  <div>
                    {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {% endif %}
        
            {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
              <localization-form>
                {%- form 'localization' -%}
                  <div>
                    {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
                  </div>
                {%- endform -%}
              </localization-form>
            {% endif %}
          </ul>
            <li class="nav-item">
              <a class="nav-link" href="#modalSearch">
                <i class="fe fe-search"></i>
              </a>
            </li>

            {%- if shop.customer_accounts_enabled -%}
              <ul class="navbar-nav flex-row">
                {% for block in section.blocks %}
                  {% case block.type %}
                    {% when 'customer_account' %}
                      <li class="nav-item ms-lg-n4">
                    <a class="nav-link" href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
                      <i class="fe fe-user"></i>
                    </a>
                  </li>
                  {% when '@app' %}
                    {% render block %}
                    {% when 'customer_cart' %}
                      <li class="nav-item ms-lg-n4">
                    <a class="nav-link" href="{{ routes.cart_url }}">
                      <span data-cart-items="{{ cart.item_count }}">
                        <i class="fe fe-shopping-cart"></i>
                      </span>
                    </a>
                  </li>


                  {% endcase %}
                {% endfor %}
              </ul>
            {% endif %}
          
          </ul>

      
          <!-- Toggler -->
          <button class="navbar-toggler d-block ms-7" type="button" data-bs-toggle="offcanvas" data-bs-target="#modalSidebar">
            <span class="navbar-toggler-icon"></span>
          </button>
      
        </div>
</nav>