{% case section.settings.newsletter_color %}
  {% when 'dark' %}
  {% assign bg_color = "bg-dark" %}
  {% assign text_class = "text-white" %}
  {% when 'white' %}
  {% assign bg_color = "bg-white" %}
  {% assign text_class = "text-dark" %}
  {% when 'gray' %}
  {% assign bg_color = "bg-light" %}
  {% assign text_class = "text-dark" %}{% else %}

{% endcase %}

<div class="{{ bg_color }} bg-cover">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-6 pt-8">

        {%- for block in section.blocks -%}
          {% case block.type %}
            {% when '@app' %}
            {% render block %}
            {% when 'text' %}
            <!-- Heading -->
            <h5 class="mb-7 text-center {{ text_class }} {{ block.settings.size }}">{{ block.settings.heading }}</h5>

            {% when 'subtext' %}
            <!-- Paragraph -->
            <div class="fs-xxx {{ text_class }} text-center">{{ block.settings.paragraph }}</div>

            {% when 'email_form' %}
            <!-- Form -->
            {% form 'customer', class: 'mb-11' %}
              <input
                type="hidden"
                name="contact[tags]"
                value="newsletter">
              <div class="row gx-5 align-items-start">
                <div class="col">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    value="{{ form.email }}"
                    class="form-control form-control-gray-700 form-control-lg"
                    placeholder="{{ "general.newsletter.form.email.placeholder" | t }} *"
                    required>
                </div>
                <div class="col-auto">
                  <button
                    type="submit"
                    name="commit"
                    class="btn btn-gray-500 btn-lg">{{ "general.newsletter.form.submit.text" | t }}</button>
                </div>
              </div>
              {%- if form.errors -%}
                <div class="alert alert-danger mt-5">
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </div>
              {%- endif -%}
              {%- if form.posted_successfully? -%}
                <div class="alert alert-success mt-5">
                  {{ "general.newsletter.form.success.message" | t }}
                </div>
              {%- endif -%}
            {% endform %}
        {% else %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "t:settings_schema.newsletter.name",
    "disabled_on": {
      "groups": ["header"]
    },
    "settings": [
      {
        "type": "select",
        "id": "newsletter_color",
        "label": "t:settings_schema.newsletter.settings.newsletter_color.label",
        "options": [
          {
            "label": "t:settings_schema.newsletter.settings.newsletter_color.options.option_1.label",
            "value": "white"
          }, {
            "label": "t:settings_schema.newsletter.settings.newsletter_color.options.option_2.label",
            "value": "gray"
          }, {
            "label": "t:settings_schema.newsletter.settings.newsletter_color.options.option_3.label",
            "value": "dark"
          }
        ],
        "default": "dark"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "t:settings_schema.newsletter.blocks.text.name",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "label": "t:settings_schema.newsletter.blocks.text.settings.heading.label"
          }, {
            "type": "select",
            "id": "size",
            "label": "t:settings_schema.newsletter.blocks.text.settings.size.label",
            "options": [
              {
                "label": "t:settings_schema.newsletter.blocks.text.settings.size.options.option_1.label",
                "value": "fs-5"
              }, {
                "label": "t:settings_schema.newsletter.blocks.text.settings.size.options.option_2.label",
                "value": "fs-3"
              }, {
                "label": "t:settings_schema.newsletter.blocks.text.settings.size.options.option_3.label",
                "value": "fs-1"
              }
            ],
            "default": "fs-3"
          }
        ]
      }, {
        "name": "t:settings_schema.newsletter.blocks.subtext.name",
        "type": "subtext",
        "settings": [
          {
            "type": "richtext",
            "id": "paragraph",
            "label": "t:settings_schema.newsletter.blocks.subtext.settings.paragraph.label"
          }
        ],
        "limit": 1
      }, {
        "name": "t:settings_schema.newsletter.blocks.email_form.name",
        "type": "email_form",
        "limit": 1
      }, {
        "type": "@app"
      }
    ],
    "presets": [
      {
        "name": "t:settings_schema.newsletter.name",
        "blocks": [
          {
            "type": "text"
          }, {
            "type": "subtext"
          }, {
            "type": "email_form"
          }
        ]
      }
    ]
  }
{% endschema %}