<section class="py-9">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">

        <!-- Item -->
        <div class="d-flex mb-6 mb-lg-0">

          {% if section.settings.show_icon_1 %}
            <!-- Icon -->
            <i class="fe fe-truck fs-lg text-primary"></i>
          {% endif %}

          <!-- Body -->
          <div class="ms-6">

            <!-- Heading -->
            <h6 class="heading-xxs mb-1">
              {{ section.settings.heading_1 | escape }}
            </h6>

            <!-- Text -->
            <p class="mb-0 fs-sm text-muted">
              {{ section.settings.text_1 | escape }}
            </p>

          </div>

        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-3">

        <!-- Item -->
        <div class="d-flex mb-6 mb-lg-0">
          {% if section.settings.show_icon_2 %}
            <!-- Icon -->
            <i class="fe fe-repeat fs-lg text-primary"></i>
          {% endif %}
          <!-- Body -->
          <div class="ms-6">

            <!-- Heading -->
            <h6 class="mb-1 heading-xxs">
              {{ section.settings.heading_2 | escape }}
            </h6>

            <!-- Text -->
            <p class="mb-0 fs-sm text-muted">
              {{ section.settings.text_2 | escape }}
            </p>

          </div>

        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-3">

        <!-- Item -->
        <div class="d-flex mb-6 mb-md-0">
          {% if section.settings.show_icon_3 %}
            <!-- Icon -->
            <i class="fe fe-lock fs-lg text-primary"></i>
          {% endif %}
          <!-- Body -->
          <div class="ms-6">

            <!-- Heading -->
            <h6 class="mb-1 heading-xxs">
              {{ section.settings.heading_3 | escape }}
            </h6>

            <!-- Text -->
            <p class="mb-0 fs-sm text-muted">
              {{ section.settings.text_3 | escape }}
            </p>

          </div>

        </div>

      </div>
      <div class="col-12 col-md-6 col-lg-3">

        <!-- Item -->
        <div class="d-flex">

          {% if section.settings.show_icon_4 %}
            <!-- Icon -->
            <i class="fe fe-tag fs-lg text-primary"></i>
          {% endif %}
          <!-- Body -->
          <div class="ms-6">

            <!-- Heading -->
            <h6 class="mb-1 heading-xxs">
              {{ section.settings.heading_4 | escape }}
            </h6>

            <!-- Text -->
            <p class="mb-0 fs-sm text-muted">
              {{ section.settings.text_4 | escape }}
            </p>

          </div>

        </div>

      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "t:settings_schema.features.name",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "presets": [
      {
        "name": "t:settings_schema.features.name"
      }
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "show_icon_1",
        "default": true,
        "label": "t:settings_schema.features.settings.show_icon_1.label"
      },
      {
        "type": "text",
        "id": "heading_1",
        "label": "t:settings_schema.features.settings.heading_1.label",
        "default": "Free shipping"
      },
      {
        "type": "text",
        "id": "text_1",
        "label": "t:settings_schema.features.settings.text_1.label",
        "default": "From all orders over $100"
      },
      {
        "type": "checkbox",
        "id": "show_icon_2",
        "default": true,
        "label": "t:settings_schema.features.settings.show_icon_2.label"
      }, {
        "type": "text",
        "id": "heading_2",
        "label": "t:settings_schema.features.settings.heading_2.label",
        "default": "Free returns"
      }, {
        "type": "text",
        "id": "text_2",
        "label": "t:settings_schema.features.settings.text_2.label",
        "default": "Return money within 30 days"
      }, {
        "type": "checkbox",
        "id": "show_icon_3",
        "default": true,
        "label": "t:settings_schema.features.settings.show_icon_3.label"
      }, {
        "type": "text",
        "id": "heading_3",
        "label": "t:settings_schema.features.settings.heading_3.label",
        "default": "Secure shopping"
      }, {
        "type": "text",
        "id": "text_3",
        "label": "t:settings_schema.features.settings.text_3.label",
        "default": "You're in safe hands"
      }, {
        "type": "checkbox",
        "id": "show_icon_4",
        "default": true,
        "label": "t:settings_schema.features.settings.show_icon_4.label"
      }, {
        "type": "text",
        "id": "heading_4",
        "label": "t:settings_schema.features.settings.heading_4.label",
        "default": "Over 10,000 Styles"
      }, {
        "type": "text",
        "id": "text_4",
        "label": "t:settings_schema.features.settings.text_4.label",
        "default": "We have everything you need"
      }
    ]
  }
{% endschema %}