{% render 'breadcrumb' %}
<section class="py-12 bg-light">
  <div class="container">
    <div class="row">
      <!-- Card -->
      <div class="card card-lg mx-auto">
        <div class="card-body">
          <!-- Heading -->
          <h6 class="mb-7 text-center">{{ "templates.customers.register.title" | t }}</h6>

          {% form 'create_customer' %}
            <div class="row">
              {{ form.errors | default_errors }}
              <div class="col-12">
                <div class="form-group">
                  <label class="visually-hidden" for="first_name">
                    {{ "templates.customers.register.form.inputs.firstname" | t }} *
                  </label>
                  <input
                    class="form-control form-control-sm"
                    name="customer[first_name]"
                    id="first_name"
                    type="text"
                    placeholder="{{ "templates.customers.register.form.inputs.firstname" | t }} *"
                    required="">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="visually-hidden" for="last_name">
                    {{ "templates.customers.register.form.inputs.lastname" | t }} *
                  </label>
                  <input
                    class="form-control form-control-sm"
                    name="customer[last_name]"
                    id="last_name"
                    type="text"
                    placeholder="{{ "templates.customers.register.form.inputs.lastname" | t }} *"
                    required="">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="visually-hidden" for="email">
                    {{ "templates.customers.register.form.inputs.email" | t }} *
                  </label>
                  <input
                    class="form-control form-control-sm"
                    id="email"
                    name="customer[email]"
                    type="email"
                    placeholder="{{ "templates.customers.register.form.inputs.email" | t }} *"
                    required="">
                </div>
              </div>
              <div class="col-12">
                <!-- Password -->
                <div class="form-group">
                  <label class="visually-hidden" for="password">
                    {{ "templates.customers.register.form.inputs.password" | t }} *
                  </label>
                  <input
                    class="form-control form-control-sm"
                    name="customer[password]"
                    id="password"
                    type="password"
                    placeholder="{{ "templates.customers.register.form.inputs.password" | t }} *"
                    required="">
                </div>
              </div>

              <div class="col-12">
                <!-- Button -->
                <button class="btn btn-sm btn-dark" type="submit">{{ "templates.customers.register.form.actions.register" | t }}</button>
              </div>

              {% if section.settings.show_login %}
                <a class="mt-5" href="{{ routes.account_login_url }}">{{ "templates.customers.register.registered" | t }}</a>

              {% endif %}
            </div>
          {% endform %}
          <!-- Form -->
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "t:settings_schema.register.name",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_login",
        "default": true,
        "label": "t:settings_schema.register.settings.show_login.label"
      }
    ]
  }
{% endschema %}