<style>
  .btn-dark {
    background-color: {{ section.settings.button_color }}
    ;
    color: {{ section.settings.button_text_color }}
  }
</style>
<section class="py-12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

        <!-- Icon -->
        <div class="mb-7 fs-1">🙁</div>

        <!-- Heading -->
        <h2 class="mb-5">{{ section.settings.title }}</h2>

        <!-- Text -->
        <p class="mb-7 text-gray-500">
          <p>{{ section.settings.subtext_html }}</p>
        </p>

        {% if section.settings.button_url == blank %}
          {% assign shop_url = shop.secure_url %}
        {% else %}
          {% assign shop_url = section.settings.button_url %}
        {% endif %}
        <!-- Button -->
        <a class="btn btn-dark" href="{{ shop_url }}">
          {{ section.settings.button_text }}
        </a>

      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "t:settings_schema.404.name",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Not found",
        "label": "t:settings_schema.404.settings.title.label",
        "info": "t:settings_schema.404.settings.title.info"
      },
      {
        "type": "text",
        "id": "subtext_html",
        "default": "The page you were looking for does not exist",
        "label": "t:settings_schema.404.settings.subtext_html.label",
        "info": "t:settings_schema.404.settings.subtext_html.info"
      },
      {
        "type": "color",
        "id": "button_text_color",
        "default": "#FFF",
        "label": "t:settings_schema.404.settings.button_text_color.label",
        "info": "t:settings_schema.404.settings.button_text_color.info"
      },
      {
        "type": "color",
        "id": "button_color",
        "default": "#000",
        "label": "t:settings_schema.404.settings.button_color.label",
        "info": "t:settings_schema.404.settings.button_color.info"
      }, {
        "type": "text",
        "id": "button_text",
        "default": "Go to Homepage",
        "label": "t:settings_schema.404.settings.button_text.label",
        "info": "t:settings_schema.404.settings.button_text.info"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "t:settings_schema.404.settings.button_url.label"
      }
    ]
  }
{% endschema %}