<section class="py-12 bg-light">
  <div class="container">
    <div class="row">
      <!-- Card -->
      <div class="col-12 col-md-3 card card-lg mx-auto">
        <div class="card-body">
          <!-- Heading -->
          <h6 class="mb-7 text-center">{{ "templates.customers.activate-account.title" | t }}</h6>

          {% form 'activate_customer_password' %}
            <div class="row">
              {% if form.errors %}
                <div class="col-12 alert alert-danger">
                  {{ form.errors | default_errors }}
                </div>
              {% endif %}
              <div class="col-12">
                <div class="form-group">
                  <label class="visually-hidden" for="password">
                    Password *
                  </label>
                  <input
                    class="form-control form-control-sm"
                    value=""
                    name="customer[password]"
                    type="password"
                    placeholder="{{ "templates.customers.activate-account.form.inputs.password" | t }}"
                    required="">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="visually-hidden" for="password_confirmation">
                    Password Confirmation *
                  </label>
                  <input
                    class="form-control form-control-sm"
                    value=""
                    name="customer[password_confirmation]"
                    type="password"
                    placeholder="{{ "templates.customers.activate-account.form.inputs.password-confirm" | t }}"
                    required="">
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <!-- Button -->
                  <button class="btn btn-sm btn-dark me-3 mb-3" type="submit">{{ "templates.customers.activate-account.form.buttons.submit" | t }}</button>
                  <button class="btn btn-sm btn-outline-dark me-3 mb-3" name="decline">{{ "templates.customers.activate-account.form.buttons.decline" | t }}</button>
                </div>
              </div>

            </div>
          {% endform %}
          <!-- Form -->
        </div>
      </div>
    </div>
  </div>
</section>