<section class="py-12 bg-light">
  <div class="container">
    <div class="row">
      <!-- Card -->
      <div class="card card-lg mx-auto">
        <div class="card-body">
          <!-- Heading -->
          <h6 class="mb-7 text-center">{{ "templates.customers.reset.title" | t }}</h6>

          {% form 'reset_customer_password' %}
            <div class="row">
              {% if form.errors %}
                <div class="col-12 alert alert-danger">
                  {{ form.errors | default_errors }}
                </div>
              {% endif %}
              <div class="col-12">
                <div class="form-group">
                  <label class="visually-hidden" for="password">
                    {{ "templates.customers.reset.form.inputs.password" | t }} *
                  </label>
                  <input
                    class="form-control form-control-sm"
                    value=""
                    name="customer[password]"
                    type="password"
                    placeholder="{{ "templates.customers.reset.form.inputs.password" | t }}"
                    required="">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="visually-hidden" for="password_confirmation">
                    {{ "templates.customers.reset.form.inputs.password-confirm" | t }} *
                  </label>
                  <input
                    class="form-control form-control-sm"
                    value=""
                    name="customer[password_confirmation]"
                    type="password"
                    placeholder="{{ "templates.customers.reset.form.inputs.password-confirm" | t }}"
                    required="">
                </div>
              </div>
              <div class="col-12">
                <!-- Button -->
                <button class="btn btn-sm btn-dark" type="submit">{{ "templates.customers.reset.form.actions.reset" | t }}</button>
              </div>
            </div>
          {% endform %}
          <!-- Form -->
        </div>
      </div>
    </div>
  </div>
</section>