{% render 'breadcrumb' %}

<section class="pt-7 pb-12">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Heading -->
        <h3 class="mb-10">{{ "templates.customers.account.title" | t }}</h3>

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-12 text-center">

            <!-- Heading -->
            <h3 class="mb-10">{{ "templates.customers.account.history.title" | t }}</h3>

          </div>
        </div>
        {% assign number_of_orders = customer.orders | size %}
        {% if number_of_orders > 0 %}
          {% paginate customer.orders by 10 %}
            {% for order in customer.orders %}
              <div class="card card-lg mb-5 border">
                <div class="card-body pb-0">

                  <!-- Info -->
                  <div class="card card-sm">
                    <div class="card-body bg-light">
                      <div class="row">
                        <div class="col-6 col-lg-3">

                          <!-- Heading -->
                          <h6 class="heading-xxxs text-muted">{{ "templates.customers.account.history.table.headings.heading_1" | t }}</h6>

                          <!-- Text -->
                          <p class="mb-lg-0 fs-sm fw-bold">
                            {{ order.order_number }}
                          </p>

                        </div>
                        <div class="col-6 col-lg-3">

                          <!-- Heading -->
                          <h6 class="heading-xxxs text-muted">{{ "templates.customers.account.history.table.headings.heading_2" | t }}</h6>

                          <!-- Text -->
                          <p class="mb-lg-0 fs-sm fw-bold">
                            <time datetime="2019-10-01">
                              {{ order.created_at | date: "%d-%m-%Y" }}
                            </time>
                          </p>

                        </div>
                        <div class="col-6 col-lg-3">

                          <!-- Heading -->
                          <h6 class="heading-xxxs text-muted">{{ "templates.customers.account.history.table.headings.heading_3" | t }}</h6>

                          <!-- Text -->
                          <p class="mb-0 fs-sm fw-bold">
                            {{ order.fulfillment_status_label }}
                          </p>

                        </div>
                        <div class="col-6 col-lg-3">

                          <!-- Heading -->
                          <h6 class="heading-xxxs text-muted">{{ "templates.customers.account.history.table.headings.heading_4" | t }}</h6>

                          <!-- Text -->
                          <p class="mb-0 fs-sm fw-bold">
                            {{ order.total_price | money }}
                          </p>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="card-footer">
                  <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                      <div class="row gx-5 mb-4 mb-lg-0">
                        {% for item in order.line_items %}
                          {% if item.image %}
                            <div class="col-3">

                              <!-- Image -->
                              <img
                                class="ratio ratio-1x1 bg-cover"
                                src="{{ item.image | image_url }}"
                                alt="{{ item.image.alt }}"
                                loading="lazy">
                            </div>
                          {% else %}
                            {{ 'product-1' | placeholder_svg_tag: 'w-25 bg-cover' }}
                          {% endif %}
                        {% endfor %}

                      </div>
                    </div>
                    <div class="col-12 col-lg-6">
                      <div class="row gx-5">
                        <div class="col-6">

                          <!-- Button -->
                          <a class="btn btn-sm w-100 btn-outline-dark" href="{{ order.customer_url }}">
                            {{ "templates.customers.account.history.table.footer.button_1" | t }}
                          </a>

                        </div>
                        <div class="col-6">

                          <!-- Button -->
                          <a class="btn btn-sm w-100 btn-outline-dark" href="{{ order.line_items.first.fulfillment.tracking_url }}">
                            {{ "templates.customers.account.history.table.footer.button_2" | t }}
                          </a>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            <div class="row">
              <div class="col-12 text-center">
                {% render 'pagination', pagination: paginate %}
              </div>
            </div>
          {% endpaginate %}
        {% else %}
          <h5>{{ "templates.customers.account.history.empty.title" | t }}</h5>
        {% endif %}
      </div>
      <div class="col-12 col-md-3">
        <div class="row">
          <div class="col-12 text-center">

            <!-- Heading -->
            <h3 class="mb-10">{{ "templates.customers.account.details.title" | t }}</h3>

          </div>
          <div class="col-12">
            <div class="card card-lg bg-light mb-8">
              <div class="card-body">

                <!-- Text -->
                <p class="text-muted mb-0 py-3">
                  {{ customer.default_address | format_address }}
                </p>
              </div>

            </div>


            <a class="btn btn-outline-dark" href="{{ routes.account_addresses_url }}">{{ "templates.customers.account.details.button" | t }}</a>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12 mt-7 mt-md-0">
        <a class="btn btn-dark" href="{{ routes.account_logout_url }}">{{ "templates.customers.account.button" | t }}</a>
      </div>
    </div>
  </div>
</section>