<section>
  <div
    id="carouselExampleControls"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel">
    <div class="carousel-inner" style="height: 550px;">
      {% if section.settings.show_slide_1 %}
        <div class="carousel-item active">
          <div style="aspect-ratio: 1.5; background-image: url({% if section.settings.image_1 != blank  %} {{ section.settings.image_1 | image_url }} {% else %} {{ "cover-5.jpg" | asset_url }} {% endif %})" class="w-100 bg-cover">
            <div class="container d-flex flex-column">
              <div class="row align-items-center py-12" style="min-height: 550px;">
                <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-md-1">

                  {% if section.settings.show_heading %}
                    <!-- Heading -->
                    <h1>{{ section.settings.text_1 }}</h1>
                  {% endif %}

                  <!-- Heading -->
                  <h2 class="display-1 text-primary">{{ section.settings.heading_1 }}</h2>

                  <!-- Heading -->
                  <h5 class="mt-n4 mb-8">{{ section.settings.heading_1_complete }}</h5>

                  <!-- Button -->
                  <a class="btn btn-dark" href="{{ section.settings.url_1 }}">
                    {{ section.settings.text_url_1 }}
                    <i class="fe fe-arrow-right ms-2"></i>
                  </a>

                </div>
              </div>
            </div>

          </div>
        </div>
      {% endif %}
      {% if section.settings.show_slide_2 %}
        <div class="carousel-item {% if section.settings.show_slide_1 == false %} active {% endif %}">
          <div style="aspect-ratio: 1.5; background-image: url({% if section.settings.image_2 != blank  %} {{ section.settings.image_2 | image_url }} {% else %} {{ "cover-23.jpg" | asset_url }} {% endif %})" class="w-100 bg-cover">
            <div class="container d-flex flex-column">
              <div class="row align-items-center justify-content-end py-12" style="min-height: 550px;">
                <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-md-n1">

                  <!-- Heading -->
                  <h1 class="mb-5">{{ section.settings.heading_2 | escape }}</h1>

                  {% if section.settings.show_text_2 %}
                    <!-- Text -->
                    <p class="mb-8 fs-lg text-gray-500">
                      {{ section.settings.text_2 | escape }}
                    </p>
                  {% endif %}



                  <!-- Button -->
                  <a class="btn btn-dark" href="{{ section.settings.url_2 }}">
                    {{ section.settings.text_url_2 }}
                    <i class="fe fe-arrow-right ms-2"></i>
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if section.settings.show_slide_3 %}
        <div class="carousel-item {% if section.settings.show_slide_1 == false and section.settings.show_slide_2 == false %} active {% endif %}">
          <div style="aspect-ratio: 1.5; background-image: url({% if section.settings.image_3 != blank  %} {{ section.settings.image_3 | image_url }} {% else %} {{ "cover-16.jpg" | asset_url }} {% endif %})" class="w-100 bg-cover">
            <div class="bg-dark-20">
              <div class="container d-flex flex-column">
                <div class="row align-items-center justify-content-end" style="min-height: 550px;">
                  <div class="col-12 text-center text-white">

                    <!-- Preheading -->
                    <h4 class="mb-0">{{ section.settings.preheading_3 }}</h4>

                    <!-- Heading -->
                    <h1 class="display-1">
                      {{ section.settings.heading_3 }}
                    </h1>

                    <!-- Links -->
                    <p class="mb-0">
                      <a href="{{ section.settings.url_3 }}" class="link-underline text-reset mx-4 my-4">{{ section.settings.text_url_3 }}</a>
                      {% if section.settings.show_url_4 %}
                        <a href="{{ section.settings.url_4 }}" class="link-underline text-reset mx-4 my-4">{{ section.settings.text_url_4 }}</a>
                      {% endif %}

                    </p>

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      {% endif %}
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

{% schema %}
  {
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "text_1",
        "label": "Text 1",
        "default": "Summer Sale"
      },
      {
        "type": "text",
        "id": "heading_1",
        "label": "Heading 1",
        "default": "-70%"
      },
      {
        "type": "text",
        "id": "heading_1_complete",
        "label": "Heading 1 info",
        "default": "with promo code CN67EW*"
      }, {
        "type": "checkbox",
        "id": "show_heading",
        "label": "Show heading 1",
        "default": true
      }, {
        "type": "url",
        "id": "url_1",
        "label": "Link 1"
      }, {
        "type": "text",
        "id": "text_url_1",
        "label": "Text Link 1",
        "default": "Shop now"
      }, {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      }, {
        "type": "text",
        "id": "text_2",
        "label": "Text 2",
        "default": "So called give, one whales tree seas dry place own day, winged tree created spirit."
      }, {
        "type": "text",
        "id": "heading_2",
        "label": "Heading 2",
        "default": "Summer Collection"
      }, {
        "type": "checkbox",
        "id": "show_text_2",
        "label": "Show text 2",
        "default": true
      }, {
        "type": "url",
        "id": "url_2",
        "label": "Link 2"
      }, {
        "type": "text",
        "id": "text_url_2",
        "label": "Text Link 2",
        "default": "Shop now"
      }, {
        "type": "checkbox",
        "id": "show_slide_1",
        "default": true,
        "label": "Show Slide 1"
      }, {
        "type": "checkbox",
        "id": "show_slide_2",
        "default": true,
        "label": "Show Slide 2"
      }, {
        "type": "checkbox",
        "id": "show_slide_3",
        "default": true,
        "label": "Show Slide 3"
      }, {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image 3"
      }, {
        "type": "text",
        "id": "heading_3",
        "label": "Heading 3",
        "default": "50% OFF"
      }, {
        "type": "text",
        "id": "preheading_3",
        "label": "Pre Heading 3",
        "default": "Summer Styles"
      }, {
        "type": "url",
        "id": "url_3",
        "label": "Link 3"
      }, {
        "type": "text",
        "id": "text_url_3",
        "label": "Text Link 3",
        "default": "Shop women"
      }, {
        "type": "url",
        "id": "url_4",
        "label": "Link 4"
      }, {
        "type": "text",
        "id": "text_url_4",
        "label": "Text Link 4",
        "default": "Shop men"
      }, {
        "type": "checkbox",
        "id": "show_url_4",
        "label": "Show Link 4",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Carousel"
      }
    ]
  }
{% endschema %}